<h1>Tournament Games</h1>
<p><i>Choose the games you want to play at this tournament.</i></p>

<%= form_tag participate_path(current_user,@tournament.id), method: :get do %>
  <% @tournament.games.each do |game| %>
  <%= fields_for 'games[]', game do |g| %>
    <div class="form-group">
      <%= g.label :title %> : <br>
      <%= game.title %><br><br>
      <%= g.label :description %> : <br>
      <%= game.description %><br><br>
      <%= g.label :image %> :
      <% if game.image_file_name.nil? %>
        <span>None</span><br><br>
      <% else %>
      <%= image_tag game.image.url(:medium) %><br><br>
      <% end %>
      <%= check_box_tag 'game_ids[]', game.id %><i>&nbsp;Check if you want to play this game at the tournament.</i>
      <hr>
    </div>
  <% end %>
<% end %>
<div class="actions">
  <%= submit_tag "Save" %>
</div>
<% end %>
<%= link_to 'Back', tournaments_path %>
