<h2>Editing Tournament</h2>

<%= form_for(@tournament) do |f| %>
<ul>
  <% @tournament.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :address %><br />
  <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :date %><br />
  <%= f.datetime_select :date, autofocus: true, autocomplete: "date", class: 'form-control' %>
</div>

<div class="form-group">
  <label>Games</label><br />
  <ul>
  <% @tournament.games.each do |g| %>
    <li><%= g.title %></li>
  <% end %>
  </ul>
  <%= f.text_field :games_list %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Show', @tournament %> |
<%= link_to 'Back', tournaments_path %>
