<h2>Editing Tournament</h2>

<%= form_for(@tournament) do |f| %>
<ul>
  <% @tournament.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :place %><br />
  <%= f.text_field :place, autofocus: true, autocomplete: "place", class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :date %><br />
  <%= f.datetime_select :date, autofocus: true, autocomplete: "date", class: 'form-control' %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
